.markdown-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .active {
        color: #535bf2;
    }

    .title-anchor:hover {
        cursor: pointer;
    }
}

.title-level1 {
    margin-left: 0;
}

.title-level2 {
    margin-left: 10px;
}

.title-level3 {
    display: none;
}
.title-level4 {
    display: none;
}
.title-level5 {
    display: none;
}
.title-level6 {
    display: none;
}